.desktop #playerpage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop .player-background {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
    height: calc(100% - 1rem);

    filter: blur(100px);
    opacity: 0.6;
}

.desktop .player-background > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.desktop .player {
    width: calc(100% - 2 * var(--player-x-padding));
    height: calc(100% - 2 * var(--player-y-padding));

    overflow: hidden;

    border: 1px solid white;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

.desktop .player-main-area {
    display: flex;
    aspect-ratio: 2;
}

.desktop .player-thumbnail {
    /* flex: 1; */
    background-color: red;
    aspect-ratio: 1;
}

.desktop .player-main-content {
    flex: 1;
    background-color: blue;
}

.desktop .player-time-container {
    display: flex;
    justify-content: space-between;
}

.desktop .player-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player img {
    width: 100px;
}