.desktop #playerpage {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background */

.desktop .player-background {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
    height: calc(100% - 1rem);

    filter: var(--background-image-filter);
    opacity: var(--background-image-opacity);
}

.desktop .player-background > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/* Layout and styling of the player */

.desktop .player {
    width: calc(100% - 2 * var(--playerpage-x-padding));
    height: calc(100% - 2 * var(--playerpage-y-padding));

    padding: var(--player-inner-padding);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Main area */

.desktop .player-main-area {
    display: flex;
    aspect-ratio: 2;

    margin-bottom: var(--player-main-area-bottom-margin, 2rem);
}

.desktop .player-thumbnail {
    aspect-ratio: 1;
    
    margin-right: 1rem;
}

.desktop .player-main-content {
    flex: 1;
    overflow: hidden;
}

/* Thumbnail section */

.desktop .player-thumbnail-content {
    width: 100%;
    height: 100%;
    overflow: hidden;

    border-radius: var(--player-thumbnail-border-radius);
    box-shadow: var(--player-thumbnail-box-shadow);

    display: flex;
    justify-content: center;

    position: relative;
}

.desktop .player-iframe-container {
    aspect-ratio: 16 / 9;
    height: 100%;
}
.desktop #player-iframe {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.desktop .player-thumbnail-img-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: transparent;
}
.desktop #player-thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Progressbar and volumebar of the player */

.desktop .player-progressbar {
    --bar-height: var(--player-progressbar-height);
}
.desktop .player-volumebar {
    --bar-height: var(--player-volumebar-height);
}

.desktop .player-progressbar,
.desktop .player-volumebar
{
    margin: 0;
    
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    
    height: var(--bar-height);
    border-radius: calc(var(--bar-height) / 2);
    accent-color: var(--main-color);
}
.desktop .player-progressbar::-moz-range-thumb,
.desktop .player-volumebar::-moz-range-thumb
{
    background-color: var(--main-color);
    border: none;
    width: calc(var(--bar-height) * 3);
    height: calc(var(--bar-height) * 3);
    border-radius: 50%;
}
.desktop .player-progressbar::-moz-range-progress,
.desktop .player-volumebar::-moz-range-progress
{
    background-color: var(--main-color);
    height: 100%;
    border-radius: calc(var(--bar-height) / 2);
}

/* Timestamps of the player */

.desktop .player-time-container {
    display: flex;
    justify-content: space-between;
}

.desktop .player-time-container > * {
    margin: 0;
    line-height: 2;
}

/* Player control buttons. */

.desktop .player-btn-container {
    margin-top: var(--player-control-top-margin, 1rem);

    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop .player-btn {
    width: var(--player-control-btn-size);
    aspect-ratio: 1;

    margin-left: var(--player-control-btn-margin);
    margin-right: var(--player-control-btn-margin);

    background: none;
    border: none;
    border-radius: 50%;
}

.desktop .player-btn > img {
    width: 50%;
}

.desktop .player-btn-playpause {
    background-color: var(--button-background-color);
}

/* Main content section of player */

.desktop .player-main-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

    /* Other buttons inside main content section */

.desktop .player-other-btn-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.desktop .player-main-content button {
    width: var(--player-other-btn-size);
    aspect-ratio: 1;

    background: none;
    border: none;
    border-radius: 50%;
}

.desktop .player-main-content button > img {
    width: 50%;
}

.desktop .player-other-btn.player-btn-close {
    background-color: rgba(255, 255, 255, 0.25);

    margin-left: auto;
}

    /* Title and like button section */

.desktop .player-title-and-like-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.desktop .player-title {
    flex: 1;

    font-weight: bold;
    font-size: var(--player-title-font-size);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
            line-clamp: 3;
}

    /* Up next section */

.desktop .player-upnext > p:first-child {
    font-weight: bold;
    font-size: var(--player-upnext-heading-font-size);

    margin-bottom: 0;
}

.desktop .player-upnext-title {
    font-size: var(--player-upnext-title-font-size);
    line-height: 1.25;

    margin: 0;
    margin-top: 0.5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
            line-clamp: 2;
}

    /* Title and like continer */

.desktop .player-title-and-like-container {
    margin-top: var(--player-title-container-margin);
    margin-bottom: var(--player-title-container-margin);
}

    /* Toggle button to play video */

.desktop .player-playvideo-toggle {
    --aspect-ratio: 2.2;
    --thumb-padding: calc(var(--toggle-height) / 5);

    aspect-ratio: var(--aspect-ratio);
    width: calc(var(--toggle-height) * var(--aspect-ratio));

    border-radius: var(--toggle-height);

    padding: var(--thumb-padding);

    background-color: black;

    position: relative;

    animation-duration: var(--toggle-animation-duration, 500ms);
    animation-iteration-count: 1;
}

.desktop .player-playvideo-toggle-thumb {
    background-color: white;

    aspect-ratio: 1;
    height: calc(100% - 2 * var(--thumb-padding));
    margin-left: var(--thumb-padding);
    margin-right: var(--thumb-padding);
    border-radius: 50%;

    position: absolute;

    --toggle-thumb-off-position: calc((var(--toggle-height) * var(--aspect-ratio)) - var(--toggle-height));

    animation-duration: var(--toggle-animation-duration, 500ms);
    animation-iteration-count: 1;    
}

.desktop .player-playvideo-toggle.on {
    animation-name: toggle-on;
    background-color: var(--main-color);
}
.desktop .player-playvideo-toggle.off {
    animation-name: toggle-off;
    background-color: black;
}
.desktop .player-playvideo-toggle.on > div {
    animation-name: toggle-thumb-on;
    left: var(--toggle-thumb-off-position);
}
.desktop .player-playvideo-toggle.off > div {
    animation-name: toggle-thumb-off;
    left: 0;
}

@keyframes toggle-thumb-on {
    0% {
        left: 0;
    }
    100% {
        left: var(--toggle-thumb-off-position);
    }
}
@keyframes toggle-thumb-off {
    0% {
        left: var(--toggle-thumb-off-position)
    }
    100% {
        left: 0;
    }
}

@keyframes toggle-on {
    0% {
        background-color: black;
    }
    100% {
        background-color: var(--main-color);
    }
}
@keyframes toggle-off {
    0% {
        background-color: var(--main-color);
    }
    100% {
        background-color: black;
    }
}


    /* Player volume controller */
.desktop .player-video-audio-control {
    display: flex;
    justify-content: space-between;

    margin-top: auto;
}

.desktop .player-playvideo-toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.desktop .player-playvideo-toggle-container > p {
    margin: 0;
    line-height: 2;

    font-size: var(--player-audio-video-control-font-size);
}

.desktop .player-volume-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;

    --volumebar-length: 50%;
}

.desktop .player-volume-container > * {
    width: var(--volumebar-length);
}

.desktop .player-volume-text {
    display: flex;
    justify-content: space-between;
}

.desktop .player-volume-text > p {
    margin: 0;
    line-height: 2;

    font-size: var(--player-audio-video-control-font-size);
}