.mobile footer {
    bottom: calc(var(--nav-height) + var(--footer-bottom-margin));
    overflow: hidden;

    border-radius: calc(var(--footer-height) / 2);
}

.mobile .footer-content {
    padding-left: calc(var(--footer-height) / 6);
}