<div class="footer-background">
    <img class="footer-background-img" src="https://img.youtube.com/vi/Tl4bQBfOtbg/maxresdefault.jpg">
</div>

<div class="footer-content-container">

    <div class="footer-content">
        <div class="footer-thumbnail-container">
            <img class="footer-thumbnail" src="https://img.youtube.com/vi/Tl4bQBfOtbg/default.jpg">
        </div>
    
        <p class="footer-music-title">
            Ram Siya Ram (Lyrical) Adipurush | Prabhas | Sachet-Parampara,Manoj Muntashir S |Om Raut | Bhushan K
        </p>
    
        <div class="footer-buttons">
            <button class="footer-btn previous"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/previous_white.png"> </button>
            <button class="footer-btn playpause"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/pause_white.png"> </button>
            <button class="footer-btn next"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/next_white.png"> </button>
            <button class="footer-btn close"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/close_white.png"> </button>
        </div>    
    </div>

    <progress class="footer-progressbar" min="0" max="100" value="70"></progress>

</div>
