<div id="homepage">

    <div id="mainfeed">

        <div class="feeditem">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="https://img.youtube.com/vi/Tl4bQBfOtbg/default.jpg" draggable="false">
            </div>
        </div>
        <p class="feeditem-title">
            Ram Siya Ram (Lyrical) Adipurush | Prabhas | Sachet-Parampara,Manoj Muntashir S |Om Raut | Bhushan K
        </p>
        <div class="feeditem-buttons">
            <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
            <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
        </div>
        
    </div>

</div>