<div id="homepage">

    <div id="mainfeed">
    </div>

    <template id="mainfeed-item-template">
        <div class="feeditem">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="" draggable="false">
            </div>
            <p class="feeditem-title"></p>
            <!-- <div class="feeditem-buttons">
                <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
                <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
            </div> -->
        </div>
    </template>

</div>