<div id="homepage">

    <div id="mainfeed">

        <div class="feeditem">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="https://img.youtube.com/vi/L3BGGVJiPS0/default.jpg" draggable="false">
            </div>
            <p class="feeditem-title">
                Deva Deva - Lyric |Brahmāstra |Amitabh B,Ranbir,Alia |Pritam,Arijit,Jonita |Shiva
            </p>
            <div class="feeditem-buttons">
                <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
                <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
            </div>
        </div>
        
        <div class="feeditem playing">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="https://img.youtube.com/vi/Tl4bQBfOtbg/default.jpg" draggable="false">
            </div>
            <p class="feeditem-title">
                Ram Siya Ram (Lyrical) Adipurush | Prabhas | Sachet-Parampara,Manoj Muntashir S |Om Raut | Bhushan K
            </p>
            <div class="feeditem-buttons">
                <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
                <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
            </div>
        </div>

        <div class="feeditem">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="https://img.youtube.com/vi/nDsIy6kRhms/default.jpg" draggable="false">
            </div>
            <p class="feeditem-title">
                Lehra Do - Full Video | 83 | Ranveer Singh, Kabir Khan | Pritam, Arijit Singh, Kausar Munir
            </p>
            <div class="feeditem-buttons">
                <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
                <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
            </div>
        </div>

        <div class="feeditem">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="https://img.youtube.com/vi/uv9Dv6fzg9w/default.jpg" draggable="false">
            </div>
            <p class="feeditem-title">
                Dholida | Full Music Video | Gangubai Kathiawadi | Sanjay Leela Bhansali | Alia Bhatt 
            </p>
            <div class="feeditem-buttons">
                <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
                <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
            </div>
        </div>

        <div class="feeditem">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="https://img.youtube.com/vi/iLLVbXKVZWI/default.jpg" draggable="false">
            </div>
            <p class="feeditem-title">
                Dhun Laagi | Love Ni Bhavai | Sachin-Jigar | Siddharth Amit Bhavsar | Gujarati Song
            </p>
            <div class="feeditem-buttons">
                <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
                <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
            </div>
        </div>

        <div class="feeditem">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="https://img.youtube.com/vi/Jv8KRwF1zQs/default.jpg" draggable="false">
            </div>
            <p class="feeditem-title">
                Moti Veraana | New Navratri Song 2020 | Songs of Faith | Amit Trivedi feat. Osman Mir | AT Azaad
            </p>
            <div class="feeditem-buttons">
                <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
                <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
            </div>
        </div>

        <div class="feeditem">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="https://img.youtube.com/vi/1ZrZeA8j15w/default.jpg" draggable="false">
            </div>
            <p class="feeditem-title">
                Asvaar - Hellaro | Song Promo | Aishwarya Majmudar & Mooralala Marwada | Mehul Surti
            </p>
            <div class="feeditem-buttons">
                <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
                <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
            </div>
        </div>

        <div class="feeditem">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="https://img.youtube.com/vi/-6oAZwTGD2c/default.jpg" draggable="false">
            </div>
            <p class="feeditem-title">
                Ranchhod Rangila | Sabhiben Ahir, @RAJESH_AHIR | Song Of Faith | New Gujrati Song 2023 
            </p>
            <div class="feeditem-buttons">
                <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
                <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
            </div>
        </div>

        <div class="feeditem">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="https://img.youtube.com/vi/z8qlaOy9SP8/default.jpg" draggable="false">
            </div>
            <p class="feeditem-title">
                [Remastered 4K] Welcome To New York - Taylor Swift - 1989 World Tour 2015 - EAS Channel
            </p>
            <div class="feeditem-buttons">
                <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
                <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
            </div>
        </div>

        <div class="feeditem">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="https://img.youtube.com/vi/NVLpJBGVfSw/default.jpg" draggable="false">
            </div>
            <p class="feeditem-title">
                SubSpace & RITIX - Days Like These (Magic Free Release)
            </p>
            <div class="feeditem-buttons">
                <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
                <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
            </div>
        </div>

        <div class="feeditem">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="https://img.youtube.com/vi/mk48xRzuNvA/default.jpg" draggable="false">
            </div>
            <p class="feeditem-title">
                The Script - Hall of Fame (Official Video) ft. will.i.am
            </p>
            <div class="feeditem-buttons">
                <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
                <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
            </div>
        </div>

        <div class="feeditem">
            <div class="feeditem-thumbnail-container">
                <img class="feeditem-thumbnail-img" src="https://img.youtube.com/vi/uODX-okCMX0/default.jpg" draggable="false">
            </div>
            <p class="feeditem-title">
                Cheat Codes - Sober (Lyrics / Lyric Video) With Nicky Romero
            </p>
            <div class="feeditem-buttons">
                <button class="feeditem-btn addto"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/add_to_playlist_white.png" draggable="false"> </button>
                <button class="feeditem-btn like"> <img src="https://dhruv-dhaduk.github.io/assets/logos/white/heart_hollow_white.png" draggable="false"> </button>
            </div>
        </div>
        
    </div>

</div>