<div class="player-background">
    <img id="player-background-img" src="" draggable="false">
</div>


<div class="player">
    <div id="player-thumbnail" class="player-thumbnail">
        <div class="player-thumbnail-content">
            <div class="player-iframe-container">
                <div id="player-iframe"></div>
            </div>
            
            <div class="player-thumbnail-img-container">
                <img id="player-thumbnail-img" src="" draggable="false">
            </div>
        </div>
    </div>

    <div class="player-title-container">
        <p id="player-title" class="player-title">Music</p>
    </div>

    <input id="player-progress-bar" class="player-progress-bar" type="range" value="0" max="100">

    <div class="player-time-container">
        <p id="player-current-time">00:00</p>
        <p id="player-duration">00:00</p>
    </div>

    <div class="player-btn-container">
        <button id="player-btn-loop" class="player-btn player-btn-loop"><img src="https://dhruv-dhaduk.github.io/assets/logos/white/loop_white.png" draggable="false"></button>
        <button id="player-btn-previous" class="player-btn player-btn-previous"><img src="https://dhruv-dhaduk.github.io/assets/logos/white/previous_white.png" draggable="false"></button>
        <button id="player-btn-playpause" class="player-btn player-btn-playpause"><img id="player-btn-playpause-img" src="https://dhruv-dhaduk.github.io/assets/logos/white/play_white.png" draggable="false"></button>
        <button id="player-btn-next" class="player-btn player-btn-next"><img src="https://dhruv-dhaduk.github.io/assets/logos/white/next_white.png" draggable="false"></button>
        <button id="player-btn-queue" class="player-btn player-btn-queue"><img src="https://dhruv-dhaduk.github.io/assets/logos/white/music_queue_white.png" draggable="false"></button>
    </div>

    <div class="instructions">
        <p>This site is currently under development. Therefore you may find limited functionality and bugs.</p>
    </div>
</div>