<div class="footer-background">
    <img id="footer-background-img" class="footer-background-img" src="" draggable="false">
</div>

<div class="footer-content-container">

    <div class="footer-content">
        <div class="footer-thumbnail-container">
            <img id="footer-thumbnail-img" class="footer-thumbnail" src="" draggable="false">
        </div>
    
        <p id="footer-music-title" class="footer-music-title">
        </p>
    
        <div class="footer-buttons">
            <button id="footer-btn-playpause" class="footer-btn playpause"> <img id="footer-btn-playpause-img" src="https://dhruv-dhaduk.github.io/assets/logos/white/pause_white.png" draggable="false"> </button>
        </div>    
    </div>

    <progress id="footer-progressbar" class="footer-progressbar" min="0" max="100" value="70"></progress>

</div>
