footer {
    background-color: var(--footer-background-color);

    width: calc(100vw - (100vw - 100%));
    height: var(--footer-height);

    position: fixed;
    left: 0;
}

.footer-background {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;
    filter: blur(100px);
    opacity: 0.6;
}

.footer-background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}