html {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    user-select: none;
}

button, button img {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}