@import url("https://fonts.googleapis.com/css?family=Quantico");

header {
    width: calc(100vw - (100vw - 100%));
    height: var(--header-height);

    background-color: var(--header-background-color);

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;
}

header {
    box-shadow: black 0 0 50px;
}

.desktop .logo {
    --logo-margin: 0.65rem;
}
.mobile .logo {
    --logo-margin: 0.6rem;
}

.logo {
    height: 100%;

    margin-left: var(--logo-margin);

    display: flex;
    justify-content: start;
    align-items: center;
}

.icon {
    width: calc(var(--header-height) - 2 * var(--logo-margin));
}

.logo-text {
    font-family: "Quantico", sans-serif;
    margin-left: calc(var(--logo-margin) / 2);
    font-weight: bold;
    font-size: calc(var(--header-height) - 2.5 * var(--logo-margin));
}