.music-queue-card {
    display: none;

    --inner-margin: 1rem;
    --border-radius: 1rem;

    --card-background-color: #1f1f1f;

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: var(--inner-margin);
}

.music-queue-card > * {
    margin-left: var(--inner-margin);
    margin-right: var(--inner-margin);

    padding-left: var(--inner-margin);
    padding-right: var(--inner-margin);
}

.music-queue-card > *:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.music-queue-card > *:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.music-queue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--card-background-color);
    border-bottom: 1px solid #444444;
}

.music-queue-content {
    background-color: var(--card-background-color);
    
    padding: var(--inner-margin);

    height: 40dvh;
    overflow-y: scroll;
}

.music-queue-header > img {
    width: 1rem;
}

@keyframes position-bottom-up {
    0% {
        bottom: -100dvh;
    }

    100% {
        bottom: 1rem;
    }
}