.music-queue-card {
    --inner-margin: 0.75rem;
    --border-radius: 1rem;

    --card-background-color: #1f1f1f;
    --border-color: #444444;

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -100dvh;
}

.music-queue-card > * {
    margin-left: var(--inner-margin);
    margin-right: var(--inner-margin);

    padding-left: var(--inner-margin);
    padding-right: var(--inner-margin);

    overflow-x: hidden;
}

.music-queue-card > *:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.music-queue-card > *:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.music-queue-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--card-background-color);
    border-bottom: 1px solid var(--border-color);

    padding-right: 0;
}

.music-queue-content {
    background-color: var(--card-background-color);
    
    padding: var(--inner-margin);

    height: 40dvh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.music-queue-close-btn {
    background-color: transparent;

    --icon-size: 1rem;
    padding: calc(var(--icon-size));

    border-radius: 50%;
    border: none;
}
.music-queue-close-btn:hover, .music-queue-close-btn:active {
    background-color: #2a2a2a;
}
.music-queue-close-btn:active {
    border: 1px solid var(--border-color);
}

.music-queue-close-btn > img {
    width: var(--icon-size);
}

.music-queue-header-text {
    font-weight: bold;
    font-size: 1.2rem;
}

@keyframes position-bottom-up {
    0% {
        bottom: -100dvh;
    }
    100% {
        bottom: 1rem;
    }
}

@keyframes position-top-down {
    0% {
        bottom: 1rem;
    }
    100% {
        bottom: -100dvh;
    }
}

.hidden {
    animation-name: position-top-down;
    animation-duration: 1s;
    bottom: -100dvh;
}

.showing {
    animation-name: position-bottom-up;
    animation-duration: 1s;
    bottom: 1rem;
}