:root {
    --main-color: #0079E3;
    --page-background-color: #151515;
    --feeditem-playing-background-color: #152736;

    --header-background-color: var(--page-background-color);
    --nav-background-color: var(--page-background-color);
    --footer-background-color: var(--page-background-color);

    --button-click-transition-duration: 100ms;
}

html, body {
    background-color: var(--page-background-color);
}

.desktop {
    --header-height: 3.5rem;

    --nav-width: 10rem;
    --nav-item-height: 3rem;
    --nav-items-margin: 0.25rem;
    --nav-items-border-radius: 0.75rem;
    --nav-icon-size: 1.5rem;
    --nav-label-size: 1.2rem;

    --footer-height: 5rem;
    --footer-progressbar-height: 0.4rem;
    --footer-thumbnail-size: 4rem;
    --footer-buttons-size: 3.5rem;
    --footer-thumbnail-border-radius: 0.5rem;
    --footer-title-font-size: 1.25rem;
    --footer-horizontal-margin: 0.5rem;
    --footer-close-btn-left-margin: 2rem;

    margin-left: var(--nav-width);
}

.mobile {
    --header-height: 3rem;

    --nav-height: 3rem;
    --nav-items-margin: 0.1rem;
    --nav-items-border-radius: 0.5rem;
    --nav-icon-size: 1.25rem;
    --nav-label-size: 0.7rem;

    --footer-height: 4rem;
    --footer-bottom-margin: 0.5rem;
    --footer-progressbar-height: 0.2rem;
    --footer-thumbnail-size: 3rem;
    --footer-buttons-size: 2.7rem;
    --footer-thumbnail-border-radius: 0.5rem;
    --footer-title-font-size: 1.1rem;
    --footer-horizontal-margin: 0.5rem;
    --footer-close-btn-left-margin: 0.1rem;
}

body {
    margin-top: var(--header-height);
}

.desktop main {
    margin-bottom: var(--footer-height);
}

.mobile main {
    margin-bottom: calc(var(--nav-height) + var(--footer-height) + var(--footer-bottom-margin));
}

main {
    background-color: var(--page-background-color);

    padding: 1rem;
}

.desktop main {
    --feeditem-height: 4.5rem;
    --feeditem-thumbnail-size: 3.75rem;
    --feeditem-thumbnail-border-radius: 0.5rem;
    --feeditem-buttons-size: 2.5rem;
    --feeditem-horizontal-margin: 0.75rem;
    --feeditem-font-size: 1.2rem;
}