:root {
    --main-color: #0079E3;
}

.desktop {
    --header-height: 3.5rem;

    --nav-width: 10rem;
    --nav-item-height: 3rem;
    --nav-items-margin: 0.25rem;
    --nav-items-border-radius: 0.75rem;
    --nav-icon-size: 1.5rem;
    --nav-label-size: 1.2rem;

    --footer-height: 5rem;
    --footer-progressbar-height: 0.4rem;
    --footer-thumbnail-size: 4rem;
    --footer-buttons-size: 3.5rem;
    --footer-thumbnail-border-radius: 0.5rem;
    --footer-title-font-size: 1.25rem;
    --footer-horizontal-margin: 0.5rem;
    --footer-close-btn-left-margin: 2rem;

    margin-left: var(--nav-width);
}

.mobile {
    --header-height: 3rem;

    --nav-height: 3rem;
    --nav-items-margin: 0.1rem;
    --nav-items-border-radius: 0.5rem;
    --nav-icon-size: 1.25rem;
    --nav-label-size: 0.7rem;
}

body {
    --header-background-color: #151515;
    --nav-background-color: #151515;
    --footer-background-color: #151515;

    margin-top: var(--header-height);
}

.desktop main {
    margin-bottom: var(--footer-height);
}

.mobile:last-child {
    margin-bottom: var(--nav-height);
}