#playerpage {
    display: flex;
    justify-content: center;
    align-items: start;

    height: 100dvh;

    position: relative;
}

.player-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    
    width: 100%;
    height: calc(100% - 0.25rem);

    filter: blur(100px);
    opacity: 0.6;
}

.player-background > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player {
    display: flex;
    flex-direction: column;

    --player-padding: 1.5rem;
    width: min(calc(100% - var(--player-padding) * 2), 25rem);
    padding-top: var(--player-padding);
}

.player-thumbnail {
    background-color: black;
    --thumbnail-border-radius: 1rem;
    border-radius: var(--thumbnail-border-radius);
    aspect-ratio: 1;
    width: 100%;
    height: 100%;
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 2rem 0;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.player-thumbnail-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: var(--thumbnail-border-radius);

    display: flex;
    justify-content: center;

    position: relative;
}

.player-iframe-container {
    aspect-ratio: 16 / 9;
    height: 100%;
}
#player-iframe {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.player-thumbnail-img-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: transparent;
}

#player-thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-title {
    font-family: "Merienda", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 2rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
            line-clamp: 1;
}

.player-time-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.player-time-container > p {
    margin: 0;
    padding: 0.2rem;

    font-size: 0.9rem;
    color: #e5e5e5;
}

.player-btn-container {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;

    --icon-size: 1.5rem;
}

.player-btn-container > button {
    background: transparent;
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: calc(0.8 * var(--icon-size));

    --click-transition-duration: 100ms;

    transition-duration: var(--click-transition-duration);
}

.player-btn-container > button:active {
    scale: 0.9;
    transition-duration: var(--click-transition-duration);
}

.player-btn-container > .player-btn-playpause {
    background-color: rgba(255, 255, 255, 0.25);
}

.player-btn-container > button > img {
    width: var(--icon-size);
    height: var(--icon-size);
}

.player-progress-bar {
    --progress-bar-color:  #8fd2ff;
    
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    height: 0.2rem;
    border-radius: 0.1rem;
    accent-color: var(--progress-bar-color);
}

.player-progress-bar::-moz-range-thumb {
    background-color: var(--progress-bar-color);
    border: none;
}

.player-progress-bar::-moz-range-progress {
    background-color: var(--progress-bar-color);
}

.blink-animation {
    animation-name: blink;
    animation-duration: 3s;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.infinite-blink-animation {
    animation-name: infinite-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes infinite-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.instructions {
    margin-top: 3rem;
    font-size: 0.75rem;
}