#playerpage {
    display: flex;
    justify-content: center;
    align-items: start;
}

.player {
    display: flex;
    flex-direction: column;

    width: min(calc(100% - 5rem), 25rem);
    padding-top: 2.5rem;
}

.player-thumbnail {
    aspect-ratio: 1;
    width: 100%;
}

.player-thumbnail > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-btn-container > button > img {
    width: 1rem;
}